.product-manage{
    overflow-y: auto;
}

.product-manage .image{
    width: 200px;
    border: solid 1.5px #dbdbdb;
    border-radius: 7px;
    padding: 3px;
}

/* CSS FOR ADD PRODUCT  */
.add-product .image-box,
.edit-product .image-box{
    padding-top: 10px;
}

.add-product .image-box img,
.edit-product .image-box img{
    border: solid 1.5px #dbdbdb;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}